@charset "UTFG-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fontePadrao: Arial, Verdana, Helvetica, sans-serif;
    --fonteDestaque: "Bebas Neue", sans-serif;
    }
* {
    margin: 0%;
    padding: 0%;
}
body {
    background-color: white;


}
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 40px;
    min-height: 150px;
    margin: auto;

} 
header > h1 {
    font-family: var(--fonteDestaque);
    color: white;

}
header > p {
    color:white;
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 15px;
    padding-bottom: 10px;
    font-size: 1,2em;
}
nav {
    background-color: var(--cor5);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 10px;
    margin: auto;
    max-width: 800px;
}
nav > a {
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}
nav > a:hover {
    color: #83e1ad;

}
main {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    max-width: 800px;
}

main  h2 {
    font-family: var(--fonteDestaque);
    color: var(--cor5);
    padding: 5px;
}
main h4 {
    background-color: var(--cor3);
    border-radius: 10px;
    padding: 15px;
}
h4 a {
    color: black;
    text-decoration: underline;
}
main  p {
    margin: 15px 0x;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
ul {
    background-color: #c5ebd6;
    font-size: 1,2em;
    list-style-position: inside;
    border-radius: 10px;
    padding: 8px;
}

li {
    font: var(--fontePadrao);
    font-size: 1,2em;
}
img#bigimg {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    
}
footer {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    max-width: 800px;
    margin: auto;
    border-radius: 6px;
    color: white;
    font-size: bold;
    text-align: center;
}